
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<style>

    html, body, #map {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<div id="map">

</div>
<script src="~/Content/openlayer4.64/ol.js"></script>
<script type="text/javascript">
    var mapurl = "/Tile/GetTile?x={x}&y={y}&z={z}";
    var maplayer = new ol.layer.Tile({
        name: "testLayer",
        // 瓦片图像数据源
        source: new ol.source.XYZ({
            crossOrigin: 'anonymous',
            url: mapurl
        }),
        opacity: 1
    });

    function zeroPad(num, len, radix) {
        var str = num.toString(radix || 10);
        while (str.length < len) {
            str = "0" + str;
        }
        return str;
    }
    var map = new ol.Map({
        target: 'map',
        layers: [
            maplayer
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([104.41, 33.82]),
            zoom: 4
        })
    });
</script>
